html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font: 100 14px "Roboto";
}

button {
  display: block;
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  user-select: none;
  cursor: pointer;
  outline: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:active {
  box-shadow: inset 0px 0px 80px 0px rgba(0, 0, 0, 0.25);
}

#wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  width: 400px;
  height: 520px;
}

.calculator {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#wrapper .calculator {
  box-shadow: 0px 0px 20px 0px #aaa;
}

.calculator-display {
  color: white;
  background: #1c191c;
  line-height: 130px;
  font-size: 6em;
  text-align: end;
  width: 400px;
  height: 100%;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "Open Sans", sans-serif;
}

.auto-scaling-text {
  display: inline-block;
}

.calculator-display .auto-scaling-text {
  padding: 0 40px;
  position: absolute;
  right: 0;
  transform-origin: right;
}

.calculator-keypad {
  height: 400px;

  display: flex;
}

.calculator .input-keys {
  width: 300px;
}

.calculator .function-keys {
  display: flex;
}

.calculator .digit-keys {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.calculator-key {
  width: 100px;
  height: 80px;
  border-top: 1px solid #c2c5ca;
  border-right: 1px solid #c2c5ca;
  text-align: center;
  line-height: 80px;
  border-radius: 2px;
  font-family: "Open Sans", sans-serif;
}
.calculator .function-keys .calculator-key {
  font-size: 1.5em;
  font-family: "Open Sans", sans-serif;
}
.calculator .function-keys .key-multiply {
  line-height: 50px;
}
.calculator .digit-keys .calculator-key {
  background: #fff;

  font-size: 2.25em;
  font-family: "Open Sans", sans-serif;
}
.calculator .digit-keys .key-0 {
  width: 200px;
  text-align: left;
  padding-left: 32px;
  border-bottom-left-radius: 10px;
}
.calculator .digit-keys .key-dot {
  padding-top: 1em;
  font-size: 0.75em;
}
.calculator .operator-keys .calculator-key {
  color: white;
  border-right: 0;
  font-size: 3em;
}

.calculator .function-keys {
  background: rgb(157, 155, 163) 100%;

}
.calculator .operator-keys {
  background: #7e1baa;
  border-bottom-right-radius: 10px;

}
