@import "~antd/dist/antd.css";

.App {
  text-align: center;
  align-self: center;
  width: 320px;
  height: 520px;
}

.gridContainer{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.button {
  width: 80px;
  height: 80px;
  /* border-top: 1px solid #777;
  border-right: 1px solid #666;   */
  text-align: center;
  font-size: 3em !important;
}
.digits{

}
.top-operators{

}
.side-operators{
  
}
.display {
  color: white;
  background: #1c191c;
  font-size: 4em;
  grid-column-start: 1;
  grid-column-end: 5;
}